mixin directing()
    - 
        const directingList = [
            {
                href: "#",
                text: "Дизайн",
                subList: [
                    {
                        href: "#",
                        text: "Web-дизайн"
                    },
                    {
                        href: "#",
                        text: "Дизайн интерьеров"
                    },
                    {
                        href: "#",
                        text: "3D-моделирование"
                    },
                    {
                        href: "#",
                        text: "Motion-дизайн"
                    },
                    {
                        href: "#",
                        text: "Графический дизайн"
                    },
                    {
                        href: "#",
                        text: "3D-анимация"
                    },
                    {
                        href: "#",
                        text: "UX/UI дизайн"
                    },
                    {
                        href: "#",
                        text: "ArchiCAD"
                    },
                    {
                        href: "#",
                        text: "Геймдизайн"
                    },
                    {
                        href: "#",
                        text: "Adobe After Effects   "
                    }
                ]
            },
            {
                href: "#",
                text: "Программирование",
                subList: [
                    {
                        href: "#",
                        text: "Web-разработка"
                    },
                    {
                        href: "#",
                        text: "DevOps"
                    },
                    {
                        href: "#",
                        text: "JavaScript-разработка"
                    },
                    {
                        href: "#",
                        text: "ReactJS"
                    },
                    {
                        href: "#",
                        text: "Мобильная разработка"
                    },
                    {
                        href: "#",
                        text: "GIT"
                    },
                    {
                        href: "#",
                        text: "Системное администрирование"
                    },
                    {
                        href: "#",
                        text: "Верстка на HTML/CSS"
                    },
                    {
                        href: "#",
                        text: "Unity"
                    },
                ]
            },
            {
                href: "#",
                text: "Аналитика",
                subList: [
                    {
                        href: "#",
                        text: "Data Science"
                    },
                    {
                        href: "#",
                        text: "Продуктовая аналитика"
                    },
                    {
                        href: "#",
                        text: "Web-аналитика"
                    },
                    {
                        href: "#",
                        text: "Системная аналитика"
                    },
                    {
                        href: "#",
                        text: "Бизнес-аналитика"
                    },
                    {
                        href: "#",
                        text: "Аналитика на R"
                    },
                    {
                        href: "#",
                        text: "Работа с Excel и Google таблицами"
                    },
                    {
                        href: "#",
                        text: "Машинное обучение"
                    },
                    {
                        href: "#",
                        text: "Нейронные сети"
                    },
                ]
            },
            {
                href: "#",
                text: "Менеджмент",
                subList: [
                    {
                        href: "#",
                        text: "Product-менеджмент"
                    },
                    {
                        href: "#",
                        text: "Личностный рост"
                    },
                    {
                        href: "#",
                        text: "Управление разработкой и IT"
                    },
                    {
                        href: "#",
                        text: "AGile"
                    },
                    {
                        href: "#",
                        text: "Бренд-менеджмент"
                    },
                    {
                        href: "#",
                        text: "Запуск стартапов"
                    },
                    {
                        href: "#",
                        text: "Финансовая аналитика"
                    },
                    {
                        href: "#",
                        text: "Бухгалтерия"
                    },
                    {
                        href: "#",
                        text: "Управление в SMM"
                    },
                    {
                        href: "#",
                        text: "IT-рекрутмент"
                    },
                ]
            },
            {
                href: "#",
                text: "Маркетинг",
                subList: [
                    {
                        href: "#",
                        text: "Web-аналитика"
                    },
                    {
                        href: "#",
                        text: "SMM-продвижение"
                    },
                    {
                        href: "#",
                        text: "Интернет-маркетинг"
                    },
                    {
                        href: "#",
                        text: "PR-менеджмент"
                    },
                    {
                        href: "#",
                        text: "SEO-продвижение"
                    },
                    {
                        href: "#",
                        text: "Копирайтинг"
                    },
                    {
                        href: "#",
                        text: "Контент-маркетинг"
                    },
                    {
                        href: "#",
                        text: "SERM и репутация"
                    },
                    {
                        href: "#",
                        text: "Маркетинговая аналитика"
                    },
                    {
                        href: "#",
                        text: "Google Ads"
                    },
                ]
            },
            {
                href: "#",
                text: "Финансы",
                subList: [
                    {
                        href: "#",
                        text: "Web-аналитика"
                    },
                    {
                        href: "#",
                        text: "SMM-продвижение"
                    },
                    {
                        href: "#",
                        text: "Интернет-маркетинг"
                    },
                    {
                        href: "#",
                        text: "PR-менеджмент"
                    },
                    {
                        href: "#",
                        text: "SEO-продвижение"
                    },
                    {
                        href: "#",
                        text: "Копирайтинг"
                    },
                    {
                        href: "#",
                        text: "Контент-маркетинг"
                    },
                    {
                        href: "#",
                        text: "SERM и репутация"
                    },
                    {
                        href: "#",
                        text: "Маркетинговая аналитика"
                    },
                    {
                        href: "#",
                        text: "Google Ads"
                    },
                ]
            },
        ]

    .directing
        .container
            ul.directing__list
                each list in directingList
                    li.directing__item
                        a.direcing__link(href=list.href class=(list.subList ? 'directing__item-open' : '')) #{list.text}
                        if list.subList                            
                            ul.directing__sublist
                                each sub in list.subList
                                    li.directing__subitem
                                        a.directing__subitem-link(href=sub.href) #{sub.text}
