mixin hero()
    
    .container
        .hero__wrapper
            h1.hero__title.
                FindEdu - все для<br>
                выбора новой профессии<br>
                в одном месте
            p.hero__description.
                Изучение тем на вебинарах с преподавателями, 
                личные консультации с наставником. После прохождения 
                курса с наставником. После прохождения курса
            button.hero__button.btn
                span Сравнить курсы
                +icon(tv, 19, 20)
                
            